header{
  display: flex;
  justify-content: space-between;
  background-color: #0077b6;
  color: white;
  line-height: 15px;
}

.content{
  text-align: center;
}

nav ul{
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
}

nav ul li h1{
  font-size: 35px;
}

nav ul li h2{
  text-transform: uppercase;
}

nav ul li{
  display: flex;
  padding: 5px 30px;
  
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  padding-bottom: 0;
  vertical-align: middle;
}

nav ul li a:hover{
  text-decoration: underline;
  color: #fff;
}